.infra-card {
    background: linear-gradient(135deg, #042457, #22469c);
    padding: 2rem;
    border-radius: 16px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}

.infra-card:hover {
    transform: translateY(-8px) scale(1.02);
}

.infra-title {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    color: #22469c;
}

.infra-description {
    font-size: 0.95rem;
    color: #cbd5e1;
    margin-bottom: 1.5rem;
}

.infra-btn {
    background: #38bdf8;
    border: none;
    padding: 0.6rem 1.2rem;
    border-radius: 8px;
    cursor: pointer;
    color: black;
    font-weight: bold;
    transition: 0.3s;
}

.infra-btn:hover {
    background: #0ea5e9;
}